

<style>
h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#paragraphs li {
  text-align: right;
}

form{
height: 100%
}
textarea{  
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  font-size:14px;
  margin:50px auto;
  display:block;
  border-radius:10px;
  border:6px solid #556677;
}
textarea{
    margin:0;
}
</style>
<script>        
    function autosize(elem){
    var el = elem;
    setTimeout(function(){
        el.style.cssText = 'height:auto; padding:0';
        // for box-sizing other than "content-box" use:
        // el.style.cssText = '-moz-box-sizing:content-box';
        let h = el.scrollHeight + 14;
        el.style.cssText = 'height:' + h + 'px';
    },0);
    }
    function addParagraph(){
        $("#paragraphs").append(`<li>
                                    <div class="form-group">
                                        <textarea class="form-control" onkeyup="autosize(this)" rows ='1' name="pars[]" placeholder="Enter text here"></textarea>
                                    </div>
                                </li>`)
    }
    function deleteParagraph(){
        $('#paragraphs li:last-child').remove();
    }
    function preview(){
        $("#ins h2").empty();
        $("#ins ul").empty();
        $("#ins h2").html($('#form input[name="title"]').val());
        $( "#paragraphs textarea" ).each(function( index ) {
            console.log($(this).val().replace(/(?:\r\n|\r|\n)/g, '<br>'));
            $("#ins ul").append(`<li style="text-align:right">
                                    <h5>` + $(this).val().replace(/(?:\r\n|\r|\n)/g, '<br>') + `</h5>
                                </li>
                                `)
        });
        $("#ins").show();
        $("#form").hide();
        showAlert("", "Press ESC to close the preview");
    }
    function close_preview(){
        $("#ins").hide();
        $("#form").show()
    }
    $(document).keyup(function(e) {
     if (e.key === "Escape") { 
        close_preview();
    }
});

</script>

    {% include "includes/_instructions.html" %}
    <form id="form" style="text-align:right" method="POST" action="/addInstructions/send/">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Instructions page name..." style="text-align:center">
        </div>  
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Instructions page title..." style="text-align:center">
        </div>        
        <ul dir="rtl" id="paragraphs">
            <li>
                <div class="form-group">
                    <textarea class="form-control" onkeyup="autosize(this)" rows ='1' name="pars[]" placeholder="Enter text here"></textarea>
                </div>
            </li>
        </ul> 
        <div id="footer">
            <button type="submit" id="submitbutton" class="btn btn-primary">Create instructions page</button>
            <button type="button" class="btn btn-info" onclick="preview()">Preview</button>
            <button type="button" class="btn btn-danger" onclick="deleteParagraph()" >Remove last paragraph</button>
            <button type="button" class="btn btn-secondary" onclick="addParagraph()">Add new paragraph</button>
        </div>
    </form>
