{% extends 'layout.html' %}


{% block head %}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/switches.css') }}">
<script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphPlaceHolder.css') }}">

<script>
     document.getElementById("backBtn").href = "/";
</script>

{% endblock %}
{% block body %}
<div class="text-center">
    <h4 >Task analysis</h4>
    <select style="width:100%" class="selectpicker" id="task" data-live-search="true" name="task" onchange="changeSelect()">
       <option hidden disabled selected value> -- Select a task -- </option>
       {% for task in tasks %}
        <option taskid={{ task.id }}>Done by: {{ task.subject_name }}, Started at: {{ task.start_time_str }}</option>
       {% endfor %}
</select>
</div>
<br>
    <div class="row align-items-center" >
    <div class="col col-lg-9">
            <div id="loading" class="plotlybars-wrapper">
            <div class="plotlybars">
              <div class="plotlybars-bar b1"></div>
              <div class="plotlybars-bar b2"></div>
              <div class="plotlybars-bar b3"></div>
              <div class="plotlybars-bar b4"></div>
              <div class="plotlybars-bar b5"></div>
              <div class="plotlybars-bar b6"></div>
              <div class="plotlybars-bar b7"></div>
            </div>
            <div class="plotlybars-text">
              loading
            </div>
        </div>

    <div id="myDiv"></div>
    </div>
    <div class="col col-lg-3">
        <div class="card" style="margin-top: 55px">
                <!-- Default panel contents -->
                <div class="card-header">Choose targets clicks</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Clicked correctly
                            <label class="switch ">
                                <input type="checkbox" class="success" onchange="ClickedCorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Clicked incorrectly
                            <label class="switch ">
                                <input type="checkbox" class="danger" onchange="ClickedIncorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Avoided correctly
                            <label class="switch ">
                                <input type="checkbox" class="primary" onchange="AvoidedCorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Avoided incorrectly
                            <label class="switch ">
                                <input type="checkbox" class="warning" onchange="AvoidedIncorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
         </div>
    </div>
</div>
<script>
 window.onresize = function() { Plotly.Plots.resize( 'myDiv' );};
function changeSelect()
{
    Plotly.purge('myDiv');
    document.getElementById("loading").style.display = "";
    let select = document.getElementById("task");
    let selected_task_id = select.options[select.selectedIndex].getAttribute("taskid");
    console.log(selected_task_id);
    socket.emit("selectedAnalysisChanged",selected_task_id);
}
var socket = io.connect(location.protocol + '//' + location.host);
socket.on('changeAnalysisData', changeData);

function stringsToColor(clicked,correct) {
  if(clicked === true && correct===true)
      return "green";
  if(clicked === true && correct===false)
      return "red";
  if(clicked === false && correct===true)
      return "blue";
  if(clicked === false && correct===false)
      return "orange";
}
var tracesMin = 0;
var shape = {};
var layout = {hovermode:"x",shapes: []};
var hover = {
  x: [],
  y: [],
  text: [],
  customhoverinfo: 'x+text',
  hoverinfo: 'none',
  name: 'Clicks',
  hoverlabel: {bgcolor: 'rgba(0,0,0,0)'},
  type: 'scatter',
  mode: 'lines',
  customcolor:[],
  visible: true,
  showlegend: false,
  opacity: 0,
  line:
  {
      color: "black"
  }
};
var data = [];

function changeData(taskData)
{
    $("input").prop("checked", false);
    data = [];
    hover.x = [];
    hover.y = [];
    hover.text = [];
    hover.customcolor = [];
    layout.shapes = [];
    taskData.clicks.forEach(function(click) {
        hover.x.push(click.time.toString());
        hover.y.push(NaN);
        hover.text.push(`Target: <strong>${click.target.toString()}</strong><br>Clicked: ${click.clicked.toString()}<br>Is correct: ${click.is_correct.toString()}<br>Delay: ${click.delay.toString()}`);
        console.log(`Clicked: ${click.clicked.toString()}<br>Is correct: ${click.is_correct.toString()}<br>Target: ${click.target.toString()}<br>Delay: ${click.delay.toString()}`);
        hover.customcolor.push(stringsToColor(click.clicked, click.is_correct));
        console.log("got to here");
        layout.shapes.push({
            type: 'line',
            x0: click.time.toString(),
            y0: 0,
            x1: click.time.toString(),
            yref: 'paper',
            y1: 1,
            clicked: click.clicked,
            is_correct: click.is_correct,
            visible: false,
            opacity: 0.5,
            line: {
              color: stringsToColor(click.clicked,click.is_correct),
              width: 2,
              dash: 'dot'
            }});
       console.log("got to here 2");
       document.getElementById("loading").style.display = "none";

    });
data.push(hover);

taskData.data.forEach(function(item) {
  data.push({
  x: item['data']['times'],
  y: item['data']['values'],
  name: item['col'].toString(),
  type: 'scatter',
  visible: "legendonly",
  hoverinfo: 'none',
  customhoverinfo: 'x+y'});
});

Plotly.newPlot('myDiv', data, layout).then(gd => {
  gd.on('plotly_restyle', d => {
    let mins = [];
    for (var i = 1; i < data.length; i++) {
        if (data[i].visible === true) {
           mins.push(Math.min.apply(null, data[i].y));
        }
    }
    tracesMin = Math.min.apply(null,mins);
    if(tracesMin == Infinity)
        {
        tracesMin = 0;
        }
    console.log(tracesMin);
    for (var i = 0; i < data[0].y.length; i++) {
           if (!isNaN(data[0].y[i])) {
           data[0].y[i] = tracesMin;
        }
    }
    savePlotChanges();
  });
      document.getElementById("loading").style.display = "none";

});

let myPlot = document.getElementById('myDiv');
myPlot.on('plotly_hover', lineChartHoverFunc);
myPlot.on('plotly_unhover', lineChartUnHoverFunc);
}
function savePlotChanges() {
    let update = {
        "shapes":layout.shapes,
        "data": data
    };
    Plotly.relayout('myDiv',update);
}

function changeVis(shape,i,vis) {
  shape.visible=vis;
  hover.y[i] = (vis ? tracesMin : NaN);
}
function ClickedCorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked === true && s.is_correct == true)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}
function AvoidedCorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked === false && s.is_correct == true)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}
function ClickedIncorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked === true && s.is_correct == false)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}
function AvoidedIncorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked === false && s.is_correct == false)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}

window.onload = changeSelect;
</script>
<script src="{{ url_for('static',filename='js/ToolTipHandler.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ToolTipHandlerCSS.css') }}">
<script src="{{ url_for('static',filename='js/plotly-latest.min.js') }}"></script>
<script>
{% if taskover == true  %}
document.getElementById("task").selectedIndex = {{ tasks | length }};
changeSelect();
{% endif %}
</script>

{% endblock %}
