{% extends 'layout.html' %}
{% block head %}
<script>
     document.getElementById("backBtn").href = "/";
</script>
{% block abovebody %}
{% endblock %}

{% endblock %}

{% block body %}
<form id="form" method="POST" action="/createGroup/send/">
{% block upperform %}
{% endblock %}
  <div class="form-group">
    <label for="groupName">Group name</label>
    <input type="text" name="groupName" class="form-control" id="groupName" aria-describedby="groupNameHelp" placeholder="Enter Group Name">
    <small id="groupNameHelp" class="form-text text-muted">Choose a name for the group for future reuse.</small>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea id="desc" name="desc"  class="form-control"  rows="3" placeholder="Enter group description (optional)..."></textarea>
  </div>
  <button id="submitBtn" type="submit" class="btn btn-primary">Create Group</button>
  {% block bottomform %}
    {% endblock %}
</form>
<script>
function clearAll(){
    try{
       $('#group').find(":selected").html($("#groupName").val());
     }catch{}
     $('.form-control').val("");
    try {
        $('#group').prop('selectedIndex',-1);
        $('#group').selectpicker("refresh");
    }catch{}
}
$("#form").submit(function (e) {
    e.preventDefault();
    var formData = new FormData(this);
    // showMSG("Adding new flower...","This message will disapear once the flower is added.")
    console.log(formData);
    $.ajax({
        type: "POST",
        url: document.getElementById('form').action,
        data: formData,
        processData: false,
        contentType: false,
        success: function(){
            clearAll();
            showAlert("Successes!", "Group created successfully");
        },
        error: function (e) {
            // showError("Adding failed!", e)
        }
    });
   });
</script>
{% endblock %}
