{% extends 'layout.html' %}
{% block head %}

{% block abovebody %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/fileUpload.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/IAPSImagesList.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/all.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-select.min.css') }}">

<script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static',filename='js/IAPSImagesList.js') }}"></script>
<script src="{{ url_for('static',filename='js/multiple_fields.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>

{% endblock %}

{% block body %}
<div id="instructionsPage" style="display: none;">
    {% include "addInstructions.html" %}
</div>
<div id="mainPage">
{% include "includes/_IAPSModalExplain.html" %}
<div class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-nback-tab" data-toggle="tab" href="#tab-nback" role="tab" aria-controls="nav-nback" aria-selected="true">N-Back Task</a>
                <a class="nav-item nav-link" id="nav-eyes-tab" data-toggle="tab" href="#tab-eyes" role="tab" aria-controls="nav-eys" aria-selected="false">Eyes Task</a>
                <a class="nav-item nav-link" id="nav-iaps-tab" data-toggle="tab" href="#tab-iaps" role="tab" aria-controls="nav-iaps" aria-selected="false">IAPS Task</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="tab-nback" role="tabpanel" aria-labelledby="nav-nback-tab">
                <form id="nbackForm" method="POST" action="/createTask/send/nback">
                    {% block uppernbackform %}
                    {% endblock %}
                      <div class="form-group">
                        <label for="name">Task name</label>
                        <input type="text" name="name" class="form-control" id="nback_name" aria-describedby="nameHelp" placeholder="Enter Task Name">
                      </div>
                      <div class="form-group">
                          <p for="nback_instructions">Instructions</p>
                          <select required style="width:100%" class="selectpicker" id="nback_instructions" data-live-search="true" name="instructions" title="Choose instructions page...">
                          {% for ins in instructions %}
                          <option value={{ ins.id }}>{{ ins.name }}</option>
                          {% endfor %}
                        </select>
                        <button id="a" type="button" class="btn btn-primary" onclick="open_preview_selected_ins(this)">Preview selected instructions</button>
                        <button type="button" class="btn btn-secondary" onclick="addInstructions()">Create new instructions page</button>
                      </div>
                      <div class="form-group">
                        <label for="nback">N-Back</label>
                        <input required type="number" step="1" min="1" name="nback" class="form-control" id="nback_nback" aria-describedby="nbackHelp" placeholder="Enter N-Back">
                      </div>
                       <div class="form-group">
                        <label for="trials">Amount of Trials</label>
                        <input required type="number" step="6" min="6" name="trials" class="form-control" id="nback_trials" aria-describedby="trialsHelp" placeholder="Enter amount of trials">
                      </div>
                       <div class="form-group">
                        <label for="timeout">Timeout (In seconds)</label>
                        <input required type="number" step="0.01" min="0" name="timeout" class="form-control" id="nback_timeout" aria-describedby="timeoutHelp" placeholder="Enter timeout">
                      </div>
                      <div class="form-group">
                        <label for="rest">Rest time (In seconds)</label>
                        <input required type="number" step="0.01" min="0" name="rest" class="form-control" id="nback_rest" aria-describedby="restHelp" placeholder="Enter rest time">
                      </div>
                      <div class="form-group">
                        <label for="words">Words</label>
                        <textarea required id="nback_words" name="words" aria-describedby="nback_words_count" class="form-control" row="3" placeholder="word1 word2 word3 ..."></textarea>
                         <small id="nback_words_count" class="form-text" style="color:red">Can't calculate amount of words, make sure both trials and N-Back are filled</small>
                      </div>
                      <button id="nback_submitBtn" type="submit" class="btn btn-primary">Create Task</button>
                      {% block lowernbackform %}
                       {% endblock %}
                 </form>
            </div>
            <div class="tab-pane fade" id="tab-eyes" role="tabpanel" aria-labelledby="nav-eyes-tab">
                  <form id="eyesForm" method="POST" action="/createTask/send/eyes" enctype=multipart/form-data>
                    {% block uppereyesform %}
                    {% endblock %}
                      <div class="form-group">
                        <label for="name">Task name</label>
                        <input required type="text" name="name" class="form-control" id="eyes_name" aria-describedby="nameHelp" placeholder="Enter Task Name">
                      </div>
                      <div class="form-group">
                          <p  for="eyes_instructions">Instructions</p>
                          <select required style="width:100%" class="selectpicker" id="eyes_instructions" data-live-search="true" name="instructions" title="Choose instructions page...">
                          {% for ins in instructions %}
                          <option value={{ ins.id }}>{{ ins.name }}</option>
                          {% endfor %}
                        </select>
                        <button type="button" class="btn btn-primary" onclick="open_preview_selected_ins(this)">Preview selected instructions</button>
                        <button type="button" class="btn btn-secondary" onclick="addInstructions()">Create new instructions page</button>
                      </div>
                      <div class="form-group">
                        <label for="nback">Eyes Open Time (In seconds)</label>
                        <input required type="number" step="0.01" min="0" name="open_time" class="form-control" id="eyes_open_time" placeholder="Enter eyes open time">
                      </div>
                      <div class="form-group">
                        <label for="nback">Eyes Closed Time (In seconds)</label>
                        <input required type="number" step="0.01" min="0" name="close_time" class="form-control" id="eyes_close_time" placeholder="Enter eyes closed time">
                      </div>
                      <div class="form-group">
                        <label for="rest">Amount of rounds (1 Round = 1 open + 1 close)</label>
                        <input required type="number" step="1" min="1" name="rounds" class="form-control" id="eyes_rounds"  placeholder="Enter amount of rounds">
                      </div>
                      <div class="form-group">
                        <label>Sound for opening eyes</label>
                        <div class="row">
                            <div class="col">
                                <div class="custom-file">
                            <input id="eyes_open_sound" name="open_sound" type="file" class="custom-file-input">
                            <label id="eyes_open_sound_label" for="open_sound" class="custom-file-label text-truncate">Choose sound file...</label>
                        </div>
                            </div>
                            <div class="col">
                                <audio id="eyes_open_sound_preview" controls>
                                </audio>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Sound for closing eyes</label>
                        <div class="row">
                            <div class="col">
                                <div class="custom-file">
                            <input id="eyes_close_sound" name="close_sound" type="file" class="custom-file-input">
                            <label id="eyes_close_sound_label" for="close_sound" class="custom-file-label text-truncate">Choose sound file...</label>
                        </div>
                            </div>
                            <div class="col">
                                <audio id="eyes_close_sound_preview" controls>
                                </audio>
                            </div>
                        </div>
                      </div>
                      <button id="eyes_submitBtn" type="submit" class="btn btn-primary">Create Task</button>
                      {% block lowereyesform %}
                      {% endblock %}
                 </form>
            </div>
            <div class="tab-pane fade" id="tab-iaps" role="tabpanel" aria-labelledby="nav-iaps-tab">
                <form id="iapsForm" method="POST" action="/createTask/send/iaps" enctype=multipart/form-data>
                    {% block upperiapsform %}
                    {% endblock %}
                      <div class="form-group">
                        <label for="name">Task name</label>
                        <input required type="text" id="iaps_name"  name="name" class="form-control" id="iaps_name" aria-describedby="nameHelp" placeholder="Enter Task Name">
                      </div>
                      <div class="form-group">
                          <p for="instructions">Instructions</p>
                          <select required style="width:100%" class="selectpicker" id="iaps_instructions" data-live-search="true" name="instructions" title="Choose instructions page...">
                          {% for ins in instructions %}
                          <option value={{ ins.id }}>{{ ins.name }}</option>
                          {% endfor %}
                        </select>
                        <button type="button" class="btn btn-primary" onclick="open_preview_selected_ins(this)">Preview selected instructions</button>
                        <button type="button" class="btn btn-secondary" onclick="addInstructions()">Create new instructions page</button>
                      </div>
                      <div class="form-group">
                        <label>Fixation duration (In seconds)</label>
                        <input required type="number" step="0.001" name="fixation" class="form-control" id="iaps_fixation" aria-describedby="nameHelp" placeholder="Enter fixation duration...">
                      </div>
                      <div class="form-group">
                        <label>Rest duration (In seconds)</label>
                        <input required type="number" step="0.001" name="rest"  class="form-control" id="iaps_rest"  placeholder="Enter rest duration...">
                      </div>
                      <div class="form-group">
                        <label for="name">Images directory name. <a href="#dir_explained" data-toggle="modal" data-target="#dir_explained">Explanation</a></label>
                        <input required type="text"  name="dir" class="form-control" id="iaps_images_path" aria-describedby="nameHelp" placeholder="Enter images directory name...">
                      </div>
                      <div class="form-group">
                        <label for="name">Mask image name (move the mask file <a href="#" onclick="return openDir('DBS/images/masks')" class=alert-link">here</a>)</label>
                        <input required type="text"  name="mask" class="form-control" id="iaps_mask" aria-describedby="nameHelp" placeholder="Enter mask name...">
                      </div>
                       <div class="form-group">
                        <label>Mask duration (In seconds)</label>
                        <input required type="number" step="0.001" name="mask_duration"  class="form-control" id="iaps_mask_duration"  placeholder="Enter mask duration...">
                      </div>
                        {# {% include "includes/_IAPSImages.html" %} #}
                        <div class="form-group multiple-form-group">
				            <label>Add rounds ( free-time if time &lt;= 0 )</label>

				            <div class="form-group input-group">
					            <input required type="number" step="0.001" name="rounds[]" placeholder="Enter round's display time (seconds)..." class="form-control">
						            <span class="input-group-btn"><button type="button" class="btn btn-secondary btn-add">+
						        </button></span>
				            </div>
			            </div>

                        <!-- <input name="images" id="iaps_images" type="file"  accept="image/*" multiple> -->
                      <button id="iaps_submitBtn" type="submit" class="btn btn-primary">Create Task</button>

                      <!-- <button id="add_category" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#categoryModal">Add Image Category</button>-->
                    {% block loweriapsform %}
                    {% endblock %}
                 </form>

            </div>
        </div>
    </div>
  </div>
</div>
<script>
 $('.custom-file-input').on('change', function() {
     let id = $(this).attr('id');
     let input = document.getElementById(id);
     console.log(input.files);
     if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function(e) {
      $('#' + id + "_preview").attr('src', e.target.result);
    };
    reader.readAsDataURL(input.files[0]);
  }
   let fileName = $(this).val().split('\\').pop();
   $(this).next('.custom-file-label').addClass("selected").html(fileName);
});
</script>
<script>
function verifyNumbers(words){

    $('#nback_submitBtn').attr("disabled", true);
    let nback = parseInt($("#nback_nback").val());
    let trials = parseInt($("#nback_trials").val());

    if(!nback || !trials){
       $('#nback_words_count').text("Can't calculate amount of words, make sure both trials and N-Back are filled");
       $('#nback_words_count').css('color', 'red');
       return false;
    }
    if(trials % 6 !=0){
        $('#nback_words_count').text("Can't calculate amount of words, trials' amount must be divisible by 6");
        $('#nback_words_count').css('color', 'red');
        return false;
    }

    let needed_amount = Math.floor(trials/3) *(nback*2) + Math.floor(trials/3)*((nback+1)*2) +
                       Math.floor(trials/6)*((nback+2)*2) + Math.floor(trials/6)*((nback+3)*2);

    $('#nback_words_count').text("For N-Back=" + nback + " and Trials=" + trials + ", the task needs " + needed_amount + " words. You entered " + words);
    if(needed_amount === words){
        $('#nback_words_count').css('color', 'lime');
        $('#nback_submitBtn').attr("disabled", false);
        return true;
    }
    else{
       $('#nback_words_count').css('color', 'grey');
       return false;
    }



}
</script>
<script>


function updateTextHelper() {
    let word_input = $("#nback_words");
    let trimmed = word_input.val().split(/\s+/).join(" ");
    word_input.val(trimmed);
    console.log(word_input.val());
    let s= word_input.val();
    let words = 0;
    if(s != "") {
        s = s.replace(/(?:\r\n|\r|\n)/gi, ' ');
        s = s.replace(/(^\s*)|(\s*$)/gi,"");
	    s = s.replace(/[ ]{2,}/gi," ");
        words = s.split(' ').length;
    }

    return verifyNumbers(words);
}
    {% if inTask == '_' %}
     document.getElementById("backBtn").href = "/chooseTask";
    {% else%}
     document.getElementById("backBtn").href = "/";
    {% endif %}

  $("input").on('keyup mouseup', updateTextHelper);
  $("#nback_words").on('keyup mouseup', updateTextHelper);
</script>
<script>
function clearAll_Nback(){
    try{
       $('#nbackTask').find(":selected").html($("#nback_name").val());
     }catch{}
     $('.form-control').val("");
     try {
        $('#nbackTask').prop('selectedIndex', -1);
        $('#nbackTask').selectpicker("refresh");
        $('#nback_instructions').prop('selectedIndex', -1);
        $('#nback_instructions').selectpicker("refresh");
     }catch{}
  }
function clearAll_Eyes(){
     try{
       $('#eyesTask').find(":selected").html($("#eyes_name").val());
     }catch{}
     $('.form-control').val("");
     $('.custom-file-label').html("Choose sound file...");
     $('audio').attr("src", "");
     try {
        $('#eyesTask').prop('selectedIndex', -1);
        $('#eyesTask').selectpicker("refresh");
        $('#eyes_instructions').prop('selectedIndex', -1);
        $('#eyes_instructions').selectpicker("refresh");
     }catch{}


}
function clearAll_IAPS(){
     try{
       $('#iapsTask').find(":selected").html($("#iaps_name").val());
     }catch{}
     $('.form-control').val("");
     $(".btn-remove").closest('.form-group').remove();
     try {
        $('#iapsTask').prop('selectedIndex', -1);
        $('#iapsTask').selectpicker("refresh");
        $('#iaps_instructions').prop('selectedIndex', -1);
        $('#iaps_instructions').selectpicker("refresh");
     }catch{}
}
$("#nbackForm").submit(function (e) {
    if (!updateTextHelper())
        return false;
    e.preventDefault();
    var formData = new FormData(this);
    
    console.log(formData);
    $.ajax({
        type: "POST",
        url: document.getElementById('nbackForm').action,
        data: formData,
        processData: false,
        contentType: false,
        success: function(data){
            if(data.success){
                clearAll_Nback();
                showAlert("Successes!", "N-Back task created successfully");
            }
            else
                showAlert("ERROR!", data.error,"danger");
        },
        error: function (e) {
            // showError("Adding failed!", e)
        }
    });
   });
$("#eyesForm").submit(function (e) {
    e.preventDefault();
    var formData = new FormData(this);
    console.log(formData);
    $.ajax({
        type: "POST",
        url: document.getElementById('eyesForm').action,
        data: formData,
        processData: false,
        contentType: false,
        success: function(data){
            if(data.success){
                clearAll_Eyes();
                showAlert("Successes!", "Eyes task created successfully");
            }
            else
                showAlert("ERROR!", data.error,"danger");
        },
        error: function (e) {
            // showError("Adding failed!", e)
        }
    });
   });
$("#iapsForm").submit(function (e) {
    e.preventDefault();
    var formData = new FormData(this);
    console.log(formData);
    $.ajax({
        type: "POST",
        url: document.getElementById('iapsForm').action,
        data: formData,
        processData: false,
        contentType: false,
        success: function(data){
            if(data.success){
                clearAll_IAPS();
                showAlert("Successes!", "IAPS task created successfully");
            }
            else
                showAlert("ERROR!", data.error,"danger");
        },
        error: function (e) {
            // showError("Adding failed!", e)
        }
    });
   });
var back = "";
function addInstructions(){
  back =  $("#backBtn").attr('href');
  $("#backBtn").attr("href", "#");
  $("#backBtn").attr("onclick","return closeInstructions()");
  $( "#instructionsPage nav" ).remove();
  $( "#instructionsPage" ).show();
  $( "#mainPage" ).hide();
}
function closeInstructions(){
  $("#backBtn").attr("href", back);
  $( "#instructionsPage" ).hide();
  $( "#mainPage" ).show();
  $("#backBtn").attr("onclick","");
  return false;
}
$("#form").submit(function (e) {
  e.preventDefault();
  var formData = new FormData(this);
  $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: formData,
        processData: false,
        contentType: false,
        success: function(data){
          ["nback", "eyes","iaps"].forEach(function(elem) {
               $('#' + elem +'_instructions').append("<option value=" + data.id + ">" + data.name + "</option>");
               $('#' + elem +'_instructions').prop('selectedIndex', -1);
               $('#' + elem +'_instructions').selectpicker("refresh");
          });

          $('#backBtn').click();
          showAlert("Successes!", "Instructions page created successfully");
        },
        error: function (e) {
            // showError("Adding failed!", e)
        }
   });
  });
function open_preview_selected_ins(button){
    $("#ins h2").empty();
    $("#ins ul").empty();
    let id = $(button).closest('.form-group').find("select").val();
    $.post( "/get_instructions_as_dict", { ins_id: id}, function( data ) {
        $("#ins h2").html(data.title);
        data.paragraphs.forEach(function( element ) {
            $("#ins ul").append(`<li style="text-align:right">
                                    <h5>` + element.replace(/(?:\r\n|\r|\n)/g, '<br>') + `</h5>
                                </li>
                                `)
        });
       $("#instructionsPage").show();
       $("#instructionsPage #ins").show();
       $("#instructionsPage #form").hide();
       $("#mainPage").hide();
       $(document).off("keyup");
       $(document).keyup(function(e) {
         if (e.key === "Escape") {
            close_preview_selected_ins();
            }
       });
       showAlert("", "Press ESC to close the preview");
    }
    ,"json");
}
function close_preview_selected_ins(){
    $("#instructionsPage").hide();
    $("#instructionsPage #ins").hide();
    $("#instructionsPage #form").show();
    $("#mainPage").show();
    $(document).off("keyup");
    $(document).keyup(function(e) {
      if (e.key === "Escape") {
         close_preview();
         }
    });
}

</script>
{% endblock %}
