{% extends 'layout.html' %}
{% block head %}
<script>
     document.getElementById("backBtn").href = "/";
</script>
<script src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/collapse.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/collapse.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-select.min.css') }}">
<script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>

<script>
function openFile(path)
{
    socket.emit('openPath', path);
    return false;
}
    var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on('exportTaskAnalysisDone', function(data)
{
     $("#btn").removeClass('disabled');
     console.log(data);
     document.getElementById("btn").innerHTML = "Export";
     msg = "";
     var arrayLength = data.path.length;
     for (var i = 0; i < arrayLength; i++) {
        msg += '<a href="#" onclick="return openFile(\'' + data.path[i].replace(/\\/g,"\\\\") + '\')" class="alert-link">'+data.path[i]+'</a>\n'
     }
     $("#msg").html("Your export file could be found at " + msg);
     $('#alert').show();

});

socket.on('exportTaskAnalysisConsole', function(data)
{

     $("#console").val($("#console").val() +"\n" +data);
     $("#console").scrollTop(99999);

});
function exportTasks ()
{
    $('#alert').hide();
    var tasks = [];
    let type = $('input[name=type]:checked').val();
    $("#" + type + "Tasks" + " option:selected").each(function () {
    var $this = $(this);
    if ($this.length) {
        var id = $this.attr('taskid');
        var title = $this.attr('subject_name') + "_" + $this.attr('subject_id') + "_" + $this.attr('start_time_str');
        tasks.push({name:title, id:id});
    }});
    let file = document.getElementById("name").value;
    $("#btn").addClass('disabled');
    document.getElementById("btn").innerHTML = "Generating export file";
    socket.emit("exportTaskAnalysis",tasks,file, type)
}
Array.prototype.diff = function(a) {
    return this.filter(function(i) {return a.indexOf(i) < 0;});
};
var lastGroupVals = [];
var lastSubjectVals = [];

function groupSelected(){
  var values = $('#group').val();
  lastGroupVals = values;
  console.log(values);
  $("#subject option").each(function() {
        let subject = $(this);
        subject.prop("selected", false);
        subject.attr('group_id').split(',').forEach(function(elem) {
           console.log(elem);
           if(values.includes(elem)){
            console.log(subject);
            subject.prop("selected", true);
            }
        })
  });
  $('#subject').change();
}
function subjectSelected(){
  var values = $('#subject').val();
  var added = values.diff(lastSubjectVals);
  var removed = lastSubjectVals.diff(values);
  lastSubjectVals = values;
  $(".taskselector option").each(function() {
       if(added.includes($(this).attr('subject_id')))
       $(this).prop("selected", true);
  });
   $(".taskselector option").each(function() {
       if(removed.includes($(this).attr('subject_id')))
       $(this).prop("selected", false);
  });
  $(".taskselector").change();
}
socket.on('changeTasksAnalysisSelect', function(data)
{
     let formId = data.type + "Tasks";
     $(".taskselector option").each(function() {
         if(data.tasks.includes(parseInt($(this).attr('taskid'))))
             $(this).prop("selected", data.bool);
     });
     $(".taskselector").change();
});
</script>
{% endblock %}
{% block body %}

  <div class="jumbotron text-center">
  <h1>Export tasks analysis</h1>
    <div class="form-group">
      <p class="lead" for="tasks">Select tasks to export</p>
      <select style="width:100%;display:none;" title="No N-Back task selected"  class="selectpicker text-center taskselector nback"  data-width="100%" id="nbackTasks" multiple data-live-search="true" title="No tasks selected" name="tasks">
       {% for task in nbackTasks %}
        <option style="text-align:center" taskid={{ task.id }} start_time_str={{ task.start_time_str }} subject_name={{ task.subject_name }} subject_id={{ task.subject_id }} >Done by: {{ task.subject_name }}, Started at: {{ task.start_time_str }}</option>
       {% endfor %}
      </select>
      <select style="width:100%;display:none;" title="No Eyes task selected" class="selectpicker text-center taskselector eyes" data-width="100%" id="eyesTasks" multiple data-live-search="true" title="No tasks selected" name="tasks">
       {% for task in eyesTasks %}
        <option style="text-align:center" taskid={{ task.id }} start_time_str={{ task.start_time_str }} subject_name={{ task.subject_name }} subject_id={{ task.subject_id }} >Done by: {{ task.subject_name }}, Started at: {{ task.start_time_str }}</option>
       {% endfor %}
      </select>
      <select style="width:100%;display:none;" title="No IAPS task selected" class="selectpicker text-center taskselector iaps"  data-width="100%" id="iapsTasks" multiple data-live-search="true" title="No tasks selected" name="tasks">
       {% for task in iapsTasks %}
        <option style="text-align:center" taskid={{ task.id }} start_time_str={{ task.start_time_str }} subject_name={{ task.subject_name }} subject_id={{ task.subject_id }} >Done by: {{ task.subject_name }}, Started at: {{ task.start_time_str }}</option>
       {% endfor %}
      </select>


    </div>
    <div class="form-group">
        <label class="radio-inline"><input type="radio" name="type" value="nback" checked><p class="lead" style="margin:0" for="type">N-Back Tasks&nbsp;&nbsp;</p></label>
        <label class="radio-inline"><input type="radio" name="type" value="eyes"><p class="lead" for="type" style="margin:0">Eyes Tasks&nbsp;&nbsp;</p></label>
        <label class="radio-inline"><input type="radio" name="type" value="iaps"><p class="lead" for="type" style="margin:0"task>IAPS Tasks</p></label>
    </div>
    <div class="form-group">
      <p class="lead">Selecting groups or subjects will select all related tasks</p>
      <select style="width:100%" class="selectpicker" id="group" multiple data-live-search="true" name="group" title="No groups selected" onchange="groupSelected()">
              {% for group in groups %}
                  <option value={{ group.id }}>{{ group.name }}</option>
              {% endfor %}
      </select>
        <select style="width:100%" class="selectpicker" id="subject" multiple data-live-search="true" name="subject" title="No subjects selected" onchange="subjectSelected()">
       {% for subject in subjects %}
        <option value={{subject.id}} group_id={{ subject.group_id }}>{{ subject.name }}, {{ subject.serial}} </option>
       {% endfor %}
      </select>
    </div>
    <input type="text" id="name" class="form-control" style="text-align:center" placeholder="Choose folder name">
    <br>
    <button id="btn" class="btn btn-primary btn-md" onclick="exportTasks()">Export</button>
    <br>
    <br>
     <div id="alert" class="alert alert-success alert-dismissible collapse" role="alert" style="margin-top:2vw">
        <h4 class="alert-heading">Export done!</h4>
        <p id="msg"></p>
        <button class="close" onclick="$('#alert').hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <button class="btn btn-secondary" type="button" onclick="changeConsoleButtonText(this)" data-toggle="collapse" data-target="#consoleWrapper" aria-expanded="false" aria-controls="consoleWrapper">Open Console</button>
    <div class="collapse" id="consoleWrapper" style="margin-top: 5px;">
        <textarea class="form-control" style="background: black; color:white; font-family:Courier" name="" id="console" cols="100" rows="4" readonly>Export process will be displayed here...</textarea>
   </div>
  </div>
  <script>
  function changeConsoleButtonText(button){
      if(button.innerHTML === "Open Console")
          button.innerHTML = "Close Console";
      else
          button.innerHTML = "Open Console";

  }
$(window).on('load', function (e) {
      $(".taskselector").hide();
      $(".nback").show();
  });


  $('input[type=radio][name=type]').change(function() {
   $(".taskselector").hide();
   $("." + this.value).show();
});
</script>
{% endblock %}