{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/switches.css') }}">
<script src="{{ url_for('static',filename='js/jquery.miranda.js') }}"></script>
<script>
$( document ).ready(function() {
    $.get( "/get_test_mode", function (state){
        $('#test_mode').prop('checked', state == 'true');
    });
});

function changeTestMode(checked) {
    $.post( "/set_test_mode", { state: checked } );
    updateHeadsets();
}
    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
}

</script>
<script>
     document.getElementById("backBtn").href = "/";
</script>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
<section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Available Headsets</h1>
            <p class="lead text-muted" style="margin-bottom: 5px">Before we begin, first choose an headset from the list below.</p>
            <div>
            <button onclick="updateHeadsets()" style="margin-right: -161px" class="btn btn-primary navbar-btn">
                <i class="fas fa-sync"></i> Refresh
            </button>
            <p id="toggle" class="lead text-muted" style="position: relative;float:right">
                Test mode: &nbsp;
                <label class="switch">
                                <input id="test_mode" type="checkbox" class="success" onchange="changeTestMode(this.checked)">
                                    <span class="slider round"></span>
                </label>
            </p>
            </div>
    <div class="d-flex justify-content-center">
  <div id="spinner" class="spinner-border" role="status" style="margin-top:2vw;width: 6vw; height: 6vw;margin-right: -160px;">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<br>
<div class="list-group" style="display:block">
<div id="emptyMSG" class="alert alert-danger" style="display: block;">
  <strong>No Available Headsets!</strong> Please connect a device and click the refresh button.
</div>
  <div id="headset" style="display: none;">
  </div>
</div>
 </div>
</section>
<script>
var old_data;
$('#spinner').hide();
function arraysEqual(arr1,arr2)
{
    return arr1.every( e => arr2.includes(e) ) && arr2.every( e => arr1.includes(e) );
}
function updateHeadsets(show_loading=true)
{
    if(show_loading){
        $('#spinner').show();
        $('#headset').hide();
        $('#emptyMSG').hide();
    }
    $.getJSON('/_queryHeadsets', function(data) {
                if(!show_loading && arraysEqual(old_data, data.map(headset => headset.id)))
                     return;
                console.log("data");
                console.log(data.map(headset => headset.id));
                console.log("old_data");
                console.log(old_data);
                old_data = data.map(headset => headset.id);
    	        data.forEach(function(element) {
    	            element['type']= element['id'].split('-')[0].toLowerCase().capitalize();
                    element['idnum']= element['id'].split('-')[1].toUpperCase();
                    });
    	        $('#spinner').hide();
                if(data.length > 0){
                        $('#emptyMSG').hide();
                        $('#headset').hide();
                        $('#headset').load('/_headsetcard', function(){
                            if(show_loading)
                                $("#headset").mirandajs(data,{effect: 'fadeIn'});
                            else
                                $("#headset").mirandajs(data,{effect: 'fadeIn'});

                        });
                    }
                else{
                    document.getElementById("emptyMSG").style.display = 'block';
                    $('#headset').hide();
                    $('#emptyMSG').show();
                }
    });
}
updateHeadsets();
setInterval(function(){ updateHeadsets(false); }, 3000);

</script>
{% endblock %}