{% extends 'layout.html' %}
{% block head %}
<script>
     document.getElementById("backBtn").href = "/";
</script>
<script src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-select.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/fileUpload.css') }}">
<script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
<script>
var socket = io.connect(location.protocol + '//' + location.host);
socket.on('importTaskDataDone', function(data)
{
     $("#btn").removeClass('disabled');
     document.getElementById("btn").innerHTML = "Import";
     data.log.forEach(function(task){
         let state = task.substr(0, task.indexOf(':'));
         let details = task.substr(task.indexOf(':'));
        $("#msg").append('<strong>' + state +'</strong>' + details + '<br>');
     });
     $('#alert').show();

});
function importTasks()
{
    $("#msg").html('');
    $('#alert').hide();
    importFile = document.getElementById('importFile').files[0];
    if (importFile == null)
        return;
    $("#btn").addClass('disabled');
    document.getElementById("btn").innerHTML = "Importing file...";
    socket.emit("importTaskData", {'file': importFile,'name':importFile.name})

}

</script>
{% endblock %}
{% block body %}

  <div class="jumbotron text-center">
    <h1>Import tasks data</h1>
    <div class="form-group">
      <p class="lead" for="tasks">Select a file to import</p>
    </div>
    <div class="custom-file">
        <input id="importFile" type="file" class="custom-file-input">
        <label for="logo" class="custom-file-label text-truncate">Choose file...</label>
    </div>
    <br>
        <button id="btn" class="btn btn-primary btn-md" onclick="importTasks()">Import</button>
    </div>
<div id="alert" class="alert alert-success alert-dismissible collapse" role="alert" style="margin-top:2vw">
        <h4 class="alert-heading">Import done!</h4>
        <p id="msg"></p>
        <button class="close" onclick="$('#alert').hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
 <script>
 $('.custom-file-input').on('change', function() {
   let fileName = $(this).val().split('\\').pop();
   $(this).next('.custom-file-label').addClass("selected").html(fileName);
});
</script>
{% endblock %}