{% extends 'layout.html' %}


{% block head %}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/switches.css') }}">
<script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphPlaceHolder.css') }}">

<script>
     document.getElementById("backBtn").href = "/";
</script>

{% endblock %}
{% block body %}
<div class="text-center">
      <h3>Tasks Visualization</h3>
    <div class="form-group">
      <select style="width:100%;display:none;" onchange="changeSelect(this, 'nback')" title="No N-Back task selected"  class="selectpicker text-center taskselector nback"   id="nbackTasks"  data-live-search="true" title="No tasks selected" name="tasks">
       {% for task in nbackTasks %}
        <option style="text-align:center" taskid={{ task.id }} start_time_str={{ task.start_time_str }} subject_name={{ task.subject_name }} subject_id={{ task.subject_id }} >Done by: {{ task.subject_name }}, Started at: {{ task.start_time_str }}</option>
       {% endfor %}
      </select>
      <select style="width:100%;display:none;" onchange="changeSelect(this, 'eyes')" title="No Eyes task selected" class="selectpicker text-center taskselector eyes"  id="eyesTasks"  data-live-search="true" title="No tasks selected" name="tasks">
       {% for task in eyesTasks %}
        <option style="text-align:center" taskid={{ task.id }} start_time_str={{ task.start_time_str }} subject_name={{ task.subject_name }} subject_id={{ task.subject_id }} >Done by: {{ task.subject_name }}, Started at: {{ task.start_time_str }}</option>
       {% endfor %}
      </select>
      <select style="width:100%;display:none;" onchange="changeSelect(this, 'iaps')" title="No IAPS task selected" class="selectpicker text-center taskselector iaps"   id="iapsTasks"  data-live-search="true" title="No tasks selected" name="tasks">
       {% for task in iapsTasks %}
        <option style="text-align:center" taskid={{ task.id }} start_time_str={{ task.start_time_str }} subject_name={{ task.subject_name }} subject_id={{ task.subject_id }} >Done by: {{ task.subject_name }}, Started at: {{ task.start_time_str }}</option>
       {% endfor %}
      </select>


    </div>
    <div class="form-group">
        <label class="radio-inline"><input type="radio" name="type" onchange="categoryChanged(this)" value="nback" checked><p class="lead" style="margin:0" for="type">N-Back Tasks&nbsp;&nbsp;</p></label>
        <label class="radio-inline"><input type="radio" name="type" onchange="categoryChanged(this)" value="eyes"><p class="lead" for="type" style="margin:0">Eyes Tasks&nbsp;&nbsp;</p></label>
        <label class="radio-inline"><input type="radio" name="type" onchange="categoryChanged(this)" value="iaps"><p class="lead" for="type" style="margin:0"task>IAPS Tasks</p></label>
    </div>

</div>
<br>
    <div class="row align-items-center" >
    <div class="col col-lg-9">
            <div id="loading" class="plotlybars-wrapper">
            <div class="plotlybars">
              <div class="plotlybars-bar b1"></div>
              <div class="plotlybars-bar b2"></div>
              <div class="plotlybars-bar b3"></div>
              <div class="plotlybars-bar b4"></div>
              <div class="plotlybars-bar b5"></div>
              <div class="plotlybars-bar b6"></div>
              <div class="plotlybars-bar b7"></div>
            </div>
            <div class="plotlybars-text">
              loading
            </div>
        </div>

    <div id="myDiv"></div>
    </div>

    <div class="col col-lg-3 additional" id="nback-additional" style="margin-top:-50px">
        <input id="nback-groupByInterval" class="groupByInterval" type="checkbox" onchange="changeMS(this.checked, 'nback')">
        <label for="nback-groupByInterval">Show one point per X seconds: </label>
        <input type="number" id="nback-interval" step="1" min="1" style="margin-bottom:10px" value="1" class="form-control" placeholder="Enter seconds..." disabled>

        <div class="card">
                <!-- Default panel contents -->
                <div class="card-header">Choose targets clicks</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Clicked correctly
                            <label class="switch ">
                                <input type="checkbox" class="success" onchange="ClickedCorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Clicked incorrectly
                            <label class="switch ">
                                <input type="checkbox" class="danger" onchange="ClickedIncorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Avoided correctly
                            <label class="switch ">
                                <input type="checkbox" class="primary" onchange="AvoidedCorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Avoided incorrectly
                            <label class="switch ">
                                <input type="checkbox" class="warning" onchange="AvoidedIncorrect(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
         </div>
    </div>
    <div class="col col-lg-3 additional" style="display:none;" id="eyes-additional">
            <input id="eyes-groupByInterval" class="groupByInterval" type="checkbox" onchange="changeMS(this.checked, 'eyes')" >
        <label for="eyes-groupByInterval">Show one point per X seconds: </label>
        <input type="number" id="eyes-interval" step="1" min="1" style="margin-bottom:10px" value="1" class="form-control" placeholder="Enter seconds..." disabled>

        <div class="card">
                <div class="card-header">Choose targets clicks</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Show Eye State
                            <label class="switch">
                                <input type="checkbox" class="default" onchange="showStates(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
         </div>
    </div>
    <div class="col col-lg-3 additional" style="display:none;" id="iaps-additional">
         <input id="iaps-groupByInterval" class="groupByInterval" type="checkbox" onchange="changeMS(this.checked, 'iaps')" value="nback">
        <label for="iaps-groupByInterval">Show one point per X seconds: </label>
        <input type="number" id="iaps-interval" step="1" min="1" style="margin-bottom:10px" value="1" class="form-control" placeholder="Enter seconds..." disabled>

        <div class="card">
                <!-- Default panel contents -->
                <div class="card-header">Choose targets clicks</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Pleasant
                            <label class="switch ">
                                <input type="checkbox" class="success" onchange="showPleasant(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Neutral
                            <label class="switch ">
                                <input type="checkbox" class="info" onchange="showNeutral(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Unpleasant
                            <label class="switch ">
                                <input type="checkbox" class="danger" onchange="showUnPleasant(this.checked)">
                                    <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
         </div>
    </div>

</div>
<script>
function changeMS(checked, type){
    $("#" +type+"-interval").prop('disabled', !checked);
}
 window.onresize = function() { Plotly.Plots.resize( 'myDiv' );};
function changeSelect(select, category)
{
    Plotly.purge('myDiv');
    document.getElementById("loading").style.display = "";
    let selected_task_id = select.options[select.selectedIndex].getAttribute("taskid");
    let groupByInterval = $('#'+category+'-groupByInterval').is(":checked");
    let interval = $('#'+category+'-interval').val();
    $( "#" + category + "Tasks" ).prop( "disabled", true );
    $('.selectpicker').selectpicker('refresh');
    $.get("/getAnalysisChanged", { taskid: selected_task_id, type: category, group_by_interval: groupByInterval, interval:interval})
    .done(changeData)

    // socket.emit("selectedAnalysisChanged",selected_task_id, category, groupByInterval, interval);
}
var socket = io.connect(location.protocol + '//' + location.host);
// socket.on('changeAnalysisData', changeData);

function NBackClickToColor(clicked, correct) {
  if(clicked == true && correct==true)
      return "green";
  if(clicked == true && correct==false)
      return "red";
  if(clicked == false && correct==true)
      return "blue";
  if(clicked == false && correct==false)
      return "orange";
}

function emotionToColor(emotion){
  if(emotion === "Pleasant")
      return "lime";
  if(emotion === "Unpleasant")
      return "red";
  if(emotion === "Neutral")
      return "cyan";
}
function eyesStateToColor(state){
  if(state === "Open")
      return "rgba(0,0,0,0)";
  if(state === "Closed")
      return "grey";
}
var tracesMin = 0;
var shape = {};
var layout = {hovermode:"x",shapes: []};
var hover = {
  x: [],
  y: [],
  text: [],
  customhoverinfo: 'x+text',
  hoverinfo: 'none',
  name: 'Clicks',
  hoverlabel: {bgcolor: 'rgba(0,0,0,0)'},
  type: 'scatter',
  mode: 'lines',
  customcolor:[],
  visible: true,
  showlegend: false,
  opacity: 0,
  line:
  {
      color: "black"
  }
};
var data = [];

function insertIAPSShapes(taskData){
      taskData.clicks.forEach(function(click) {
        hover.x.push(click.time.toString());
        hover.y.push(NaN);
        if(click.category == null)
            click.category = "None";
        hover.text.push(`Response: <strong>${click.response}</strong><br>Category: <strong>${click.category}</strong><br>Image: ${click.image}<br>Display Time: ${click.display_time}<br>Reaction Time: ${click.reaction_time}`);
        hover.customcolor.push(emotionToColor(click.response.toString()));
        layout.shapes.push({
            type: 'line',
            x0: click.time.toString(),
            y0: 0,
            x1: click.time.toString(),
            yref: 'paper',
            y1: 1,
            emotion: click.response.toString(),
            visible: false,
            opacity: 0.5,
            line: {
              color: emotionToColor(click.response.toString()),
              width: 2,
              dash: 'dot'
            }});
    });
}

function insertEyesShapes(taskData){
      taskData.states.forEach(function(state) {
        hover.text.push(`Eyes State: <strong>${state.state.toString()}</strong>`);
        hover.customcolor.push(eyesStateToColor(state.state));
        layout.shapes.push({
            type: 'rect',
            x0: state.start.toString(),
            y0: 0,
            x1: state.end.toString(),
            yref: 'paper',
            y1: 1,
            visible: false,
            opacity: 0.5,
            fillcolor: eyesStateToColor(state.state),
            line: {
                width: 0
            }
        });
      });
}
function insertNbackShapes(taskData){
      taskData.clicks.forEach(function(click) {
        hover.x.push(click.time.toString());
        hover.y.push(NaN);
        hover.text.push(`Target: <strong>${click.target.toString()}</strong><br>Clicked: ${click.clicked.toString()}<br>Is correct: ${click.is_correct.toString()}<br>Delay: ${click.delay.toString()}`);
        // console.log(`Clicked: ${click.clicked.toString()}<br>Is correct: ${click.is_correct.toString()}<br>Target: ${click.target.toString()}<br>Delay: ${click.delay.toString()}`);
        hover.customcolor.push(NBackClickToColor(click.clicked, click.is_correct));
        // console.log("got to here");
        layout.shapes.push({
            type: 'line',
            x0: click.time.toString(),
            y0: 0,
            x1: click.time.toString(),
            yref: 'paper',
            y1: 1,
            clicked: click.clicked,
            is_correct: click.is_correct,
            visible: false,
            opacity: 0.5,
            line: {
              color: NBackClickToColor(click.clicked, click.is_correct),
              width: 2,
              dash: 'dot'
            }});
    });
}

function changeData(taskData)
{
    $("input[type=checkbox]").not(".groupByInterval").prop("checked", false);
    data = [];
    hover.x = [];
    hover.y = [];
    hover.text = [];
    hover.customcolor = [];
    layout.shapes = [];
    if(taskData.type === "nback")
        insertNbackShapes(taskData);
    if(taskData.type === "eyes")
        insertEyesShapes(taskData);
    if(taskData.type === "iaps")
        insertIAPSShapes(taskData);
    document.getElementById("loading").style.display = "none";
    data.push(hover);

    taskData.data.forEach(function(item) {
      data.push({
      x: item['data']['times'],
      y: item['data']['values'],
      name: item['col'].toString(),
      type: 'scatter',
      visible: "legendonly",
      hoverinfo: 'none',
      customhoverinfo: 'x+y'});
    });

    Plotly.newPlot('myDiv', data, layout).then(gd => {
      gd.on('plotly_restyle', d => {
        let mins = [];
        for (var i = 1; i < data.length; i++) {
            if (data[i].visible === true) {
               mins.push(Math.min.apply(null, data[i].y));
            }
        }
        tracesMin = Math.min.apply(null,mins);
        if(tracesMin == Infinity)
            {
            tracesMin = 0;
            }
        for (var i = 0; i < data[0].y.length; i++) {
               if (!isNaN(data[0].y[i])) {
               data[0].y[i] = tracesMin;
            }
        }
        savePlotChanges();
      });
          document.getElementById("loading").style.display = "none";
          $( "#" + taskData.type + "Tasks" ).prop( "disabled", false );
              $('.selectpicker').selectpicker('refresh');


    });

    let myPlot = document.getElementById('myDiv');
    myPlot.on('plotly_hover', lineChartHoverFunc);
    myPlot.on('plotly_unhover', lineChartUnHoverFunc);
}
function savePlotChanges() {
    let update = {
        "shapes":layout.shapes,
        "data": data
    };
    Plotly.relayout('myDiv',update);
}

function changeVis(shape,i,vis) {
  shape.visible=vis;
  hover.y[i] = (vis ? tracesMin : NaN);
}
function ClickedCorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked == true && s.is_correct == true)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}
function AvoidedCorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked == false && s.is_correct == true)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}
function ClickedIncorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked == true && s.is_correct == false)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}
function AvoidedIncorrect(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.clicked == false && s.is_correct == false)
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}

function showPleasant(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.emotion === "Pleasant")
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}

function showUnPleasant(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.emotion === "Unpleasant")
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}

function showNeutral(clicked) {
  layout.shapes.forEach(function(s,i) {
      if(s.emotion === "Neutral")
        changeVis(s,i,clicked);
  });
  savePlotChanges();
}
function showStates(clicked) {
  layout.shapes.forEach(function(s,i) {
      changeVis(s,i,clicked);
  });
  savePlotChanges();
}
window.onload = function(){
    $("input[value=nback]").change();
    {% if taskover == true  %}
    var num = $('#{{ type }}Tasks option').length;
    $('#{{ type }}Tasks').prop('selectedIndex', num-1); // For choosing last item in list
    $('#{{ type }}Tasks').selectpicker("refresh");
    $("input[value={{ type }}]").attr('checked', true);
    $("input[value={{ type }}]").change();
    {% endif %}

}
</script>
<script src="{{ url_for('static',filename='js/ToolTipHandler.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ToolTipHandlerCSS.css') }}">
<script src="{{ url_for('static',filename='js/plotly-latest.min.js') }}"></script>
<script>



  function categoryChanged(category) {
      let category_name = $(category).val();
      let select = document.getElementById(category_name + "Tasks");
      changeSelect(select, category_name);
      $(".additional").hide();
      $("#" + category_name + "-additional").show();
      $(".taskselector").hide();
       $("." + category.value).show();

  }
</script>

{% endblock %}
