<style>
   #wait{
   height:100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-family: 'Open Sans', Helvetica, sans-serif;
   font-weight: 700;
   font-size: 6vw;
   font-size: calc( 100vw ) / 40;
   }
   .center-inner {
   display: table;
   margin: 0 auto;
   width:100%;
   }
</style>
<div id="wait" style="display:none" class="fullscreen">
   <div class="center-inner">
      <div>סיבוב הניסיון נגמר</div>
      <div>לחיצה על 'רווח' תתחיל את המשימה</div>
   </div>
</div>
