<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/insight.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/all.min.css') }}">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css')}}">

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/disableBackButton.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static',filename='img/brainBlue.png') }}" type="image/x-icon">
<script>
function showAlert(bold,regular) {
    $("#success-alert").html("<strong>"+ bold + "&nbsp;</strong>"+ regular);
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
               $("#success-alert").slideUp(500);
                });
};
</script>
    <title>CogniTasks</title>
      <nav class="navbar navbar-light bg-light sticky-top text-center" align="center">
          <ul class="nav navbar-nav navbar-left">
            <li><a id="backBtn" href="#"><i class="fas fa-arrow-alt-circle-left"></i> Back</a></li>
          </ul>
          <a class="navbar-brand" href="#">
              <img src="{{ url_for('static',filename='img/brainBlue.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
              CogniTasks
          </a>
          <ul class="nav navbar-nav navbar-right ">
            <li class="d-none"><a href="/_shutdown"><i class="fas fa-sign-out-alt"></i> Exit</a></li>
          </ul>

</nav>

      {% block head %}
      {% endblock %}

  </head>
  <body>
  {% block navbar %}{% endblock %}
    <main role="main" class="container">
    <div class="alert alert-success sticky-top" id="success-alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong> </strong>
</div>
        {% block body %}
        {% endblock %}
    </main>


    </body>
</html>