<!doctype html>
<html>
<head>
    <title>Default .babylon loading scene</title>

    <!-- this link to the preview online version of BJS -->
    <script src="https://preview.babylonjs.com/babylon.js"></script>
    <!-- this is needed for BJS to load scene files -->

    <style>
        html,body,canvas{
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <canvas id="canvas"></canvas>
    <script>

        var canvas = document.getElementById("canvas");
        var engine = new BABYLON.Engine(canvas, true);

        BABYLON.SceneLoader.Load("", "http://127.0.0.1:5000/project.babylon", engine, function (newScene) {
            var Scene = newScene;
            var camera2 = new BABYLON.ArcRotateCamera("Camera2", 3 * Math.PI / 2, Math.PI / 8, 20, BABYLON.Vector3.Zero(), Scene);
            camera2.attachControl(canvas, true);
            Scene.activeCamera = camera2;

			greenMaterial = new BABYLON.StandardMaterial('greenMat', Scene);
            greenMaterial.diffuseColor = BABYLON.Color3.FromInts(188, 237, 145);
            greenMaterial.specularColor = BABYLON.Color3.Black(); // matte

            redMaterial = new BABYLON.StandardMaterial('redMat', Scene);
            redMaterial.diffuseColor = BABYLON.Color3.FromInts(255, 102, 102); // light green
            redMaterial.specularColor = BABYLON.Color3.Black(); // matte
			
			blueMaterial = new BABYLON.StandardMaterial('blueMat', Scene);
            blueMaterial.diffuseColor = BABYLON.Color3.FromInts(0, 50, 150); // blue green
            blueMaterial.specularColor = BABYLON.Color3.Black(); // matte

    document.body.onkeyup = function(e){
        if(e.keyCode == 32){
            Scene.getMeshByName('object0').material = redMaterial;
			Scene.getMeshByName('AF3Front').material = blueMaterial;
			Scene.getMeshByName('AF4Front').material = blueMaterial;
			Scene.getMeshByName('T7Front').material = blueMaterial;
			Scene.getMeshByName('T8Front').material = blueMaterial;
			Scene.getMeshByName('PzFront').material = blueMaterial;
        }
        else
		{
            Scene.getMeshByName('object0').material = greenMaterial;
			Scene.getMeshByName('AF3Front').material = redMaterial;
			Scene.getMeshByName('AF4Front').material = redMaterial;
			Scene.getMeshByName('T7Front').material = redMaterial;
			Scene.getMeshByName('T8Front').material = redMaterial;
			Scene.getMeshByName('PzFront').material = redMaterial;
		}

    };
            Scene.activeCamera.attachControl(canvas);
            Scene.executeWhenReady(function(){
                engine.runRenderLoop(function(){
                     Scene.render();
                });
            });
        });   
        window.addEventListener("resize",function(){
            engine.resize();
        });
    </script>
</body>
</html>
    </script>
</body>
</html>;